<ion-content>

<div style="margin-top: 20%;padding: 10%;">

  <div>
    <ion-list>
      <ion-item>
       <ion-label position="floating">Name</ion-label>
       <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
       <ion-label position="floating">MobileNo</ion-label>
       <ion-input [(ngModel)]="mobno"></ion-input>
      </ion-item>
    </ion-list>

 <div>
   <ion-button  expand ="block" color="success" (click)="createdb()">SHOW DB</ion-button>
   <ion-button  expand ="block" color="success" (click)="createtable()">SHOW TABLE</ion-button>
   <ion-button  expand ="block" color="success" (click)="insertrow()">INSERT ROW</ion-button>
 </div>
  </div>


  <div>
    <ion-list>
      <ion-item *ngFor ="let  a of rowdata">
        <ion-col>{{a.id}}</ion-col>
        <ion-col>{{a.name}}</ion-col>
        <ion-col>{{a.mobno}}</ion-col>
        <ion-col><ion-icon name="close" (click)="edit(a)"></ion-icon></ion-col>
        <ion-col><ion-icon name="close" (click)="close(a)"></ion-icon></ion-col>
      </ion-item>
    </ion-list>
  </div>
</div>

</ion-content>